.desktop-area-container {
  height: 100%;
  width: 100%;
  padding: 0.8rem;
}
.link-footer > a {
  color: #666;
  text-decoration: none;
}
.link-footer > a:hover {
  text-decoration: underline;
}
.portfolio-container-iframe {
  height: 100%;
  width: 100%;
  border: none;
}
