.desktop-area-container {
  height: 100%;
  width: 100%;
  padding: 0.8rem;
}
.link-footer > a {
  color: #666;
  text-decoration: none;
}
.link-footer > a:hover {
  text-decoration: underline;
}
.portfolio-container-iframe {
  height: 100%;
  width: 100%;
  border: none;
}
.new-file-folder-input {
  border: none;
  padding: 0.4rem 0.6rem;
  border: 1px solid #0002;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 1rem;
  width: 100%;
}
.new-file-folder-input:focus {
  outline: none;
}

/* Context Menu */
.context-menu-container {
  position: absolute;
  height: 300px;
  width: 230px;
  color: #212121;
  background-color: #fffc;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 #0006;
  animation: opacAnim 0.2s ease;
}
@keyframes opacAnim {
  from {
    transform: scaleY(0.5);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
.context-menu-content {
  padding: 0.4rem 1rem;
  margin: 0.1rem 0;
  cursor: pointer;
  transition: 0.2s ease;
}
.context-menu-content:hover {
  background-color: rgb(234, 84, 33, 0.95);
  color: #fff;
}
.context-menu-content:active {
  filter: brightness(0.8);
}
