.start-menu-container {
  background-color: #0005;
  animation: fade-in 0.2s ease-in forwards;
  opacity: 0;
  height: calc(100vh - 30px);
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.search-field-container {
  margin: 1rem 0;
  text-align: center;
}
input.search-field {
  margin: 0 auto;
  border-radius: 0 30px 30px 0;
  box-sizing: border-box;
  border: none;
  width: 100%;
  color: #555;
  padding: 0.3rem 0;
  padding-right: 0.6rem;
}
input.search-field::placeholder {
  color: #0006;
}
input.search-field:focus {
  outline: none;
}
.search-field-grid {
  display: grid;
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
  grid-template-columns: auto 1fr;
}
.search-bar-icon-container {
  border-radius: 30px 0 0 30px;
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: auto 0.8rem;
}
.search-bar-icon {
  margin-left: 0.6rem;
  margin-right: 0.5rem;
  cursor: text;
}
